@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap'); /*Font SN Pro Imported from fonts.google.com*/

body {
    font-family: 'SN Pro', sans-serif;
    font-size: 16px;
}

/*CONTACT FORM CSS*/
form{
    padding: 15px;
    display: table;
}

input[type="text"], input[type="email"], input[type="tel"]{
    font-family: 'SN Pro', sans-serif;
    width: 225px;
    border: 1px solid #63788a;
    border-radius: 2px;
    padding: 1px;
    margin: 10px 15px 10px 0px;
    font-size: 20px;
}

/*Styles the label tag on the contact form*/
label{
    font-family: 'SN Pro', sans-serif;
    font-size: 20px;
    margin: 10px;
}

/*The type selector for the textarea element for a user to 
write a message*/
textarea{
    width: 440px;
    height: 200px;
    padding: 12px 20px;
    border: 1px solid #63788a;
    border-radius: 4px;
    font-family: 'SN Pro', sans-serif;
    font-size: 15px;
    resize: both;
}

/*Styles the submit button*/
input[type="submit"]{
    background-color: #0a3f63;
    border: none;
    border-radius: 5px;
    font-family: 'SN Pro', sans-serif;
    font-size: 20px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;    
    cursor: pointer; /*Changes the mouse cursor to a pointer 
    when hovering over the submit button*/
    float: right;
}

/*Changes the background color of the submit button when a 
user hovers over it*/
input[type="submit"]:hover{
    background-color: #052133;
}

/* Light Box Styling */
.row > .column {
  padding: 0 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* Adjusts the width of the thumbnails so they fit on the page correctly */
.smallImages {
    width: 98%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  width: 85%;
  max-width: 900px;
}

/* Adjusts the settings of the larger images in the Lightbox so they display and fit correctly */
.largeImages {
    display: block;
    object-fit: cover;
    width: 100%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}